.login-dialog {
  background-color: transparent;
}

#lockScreenGroup,
#lockDialogGroup {
  background: url(file:///usr/local/share/gnome-shell/extensions/gdm-login-style@icedman.github.com/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
